/* Normalización de estilos */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

/* Ejercicio #01 */
.ejercicio_1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.img_ej1 {
    width: 300px;
    height: 350px;
    border-radius: 20px;
}